.header__logo {
  width: 142px;
  height: 42px;
}

.header__logo:hover {
  cursor: pointer;
  transition: opacity .2s linear;
  opacity: .6;
}

@media (min-width: 768px) {
  .header__logo {
    width: 176px;
    height: 52px;
  }
}
