.lead__title {
  margin: 0;
  padding: 0 132px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media (max-width: 1024px) {
  .lead__title {
    padding-left: 104px;
    padding-right: 104px;
  }
}

@media (max-width: 768px) {
  .lead__title {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 320px) {
  .lead__title {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 40px;
    line-height: 44px;
  }
}


