.lead__image {
  margin: 0;
  padding: 64px 0 148px;
  display: flex;
  flex-direction: column;
  width: 984px;
  height: 615px;
}

@media (max-width: 1024px) {
  .lead__image{
    padding: 56px 0 0 0;
    width: 928px;
    height: 580px;
  }
}

@media (max-width: 768px) {
  .lead__image{
    width: 768px;
    height: 480px;
  }
}

@media (max-width: 320px) {
  .lead__image{
    padding-top: 40px;
    width: 320px;
    height: 200px;
  }
}

