.intro {
  padding: 114px 442px 0 148px;
}

@media (max-width: 1024px) {
  .intro {
    padding-left: 48px;
    padding-right: 286px;
  }
}

@media (max-width: 768px) {
  .intro {
    padding: 110px 24px 0 24px;
  }
}

@media (max-width: 320px) {
  .intro {
    padding: 86px 16px 0 16px;
  }
}

