.intro {
  padding: 86px 16px 0 16px;
}

@media (min-width: 768px) {
  .intro {
    padding: 110px 24px 0 24px;
  }
}

@media (min-width: 1024px) {
  .intro {
    padding: 114px 286px 0 48px;
  }
}

@media (min-width: 1280px) {
  .intro {
    padding-left: 148px;
    padding-right: 442px;
  }
}
