.intro {
  padding-top: 64px;
  width: 90%;
  /* padding: 64px 16px 0 16px; */
}

@media (min-width: 768px) {
  .intro {
    /* padding: 88px 24px 0 24px; */
    padding-top: 88px;
    width: 93.75%;
  }
}

@media (min-width: 1024px) {
  .intro {
    /* padding: 92px 48px 0 48px; */
    padding-top: 92px;
    padding-left: 48px;
    align-self: flex-start;
    max-width: 690px;
  }
}

@media (min-width: 1280px) {
  .intro {
    /* padding: 92px 148px 0 148px; */
    padding-top: 92px;
    padding-left: 148px;
    align-self: flex-start;
    max-width: 690px;
  }
}
