.cover {
  min-height: 740px;
  width: calc(100% - 2 * 46px);
  margin: 0 auto;
  background: content-box url(../../images/cover/sunset-background.jpg) center/contain no-repeat;
  position: relative;
}

@media (max-width: 1024) {
  .cover {
    width: 100%;
  }
}
