.cover {
  min-height: 740px;
  max-width: 1184px;
  margin: 0 auto;
  background: content-box url(../../images/cover/sunset-background.jpg) center/contain no-repeat;
  position: relative;
}

@media (max-width: 1024px) {
  .cover {
    min-height: 640px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media (max-width: 320px) {
  .cover {
    min-height: 200px;
  }
}
