.cover {
  width: 100%;
  min-height: 200px;
  background: content-box url(../../images/cover/sunset-background.jpg) center/cover no-repeat;
  display: flex;
}

@media (min-width: 425px) {
  .cover {
    min-height: 340px;
  }
}

@media (min-width: 768px) {
  .cover {
    min-height: 480px;
  }
}

@media (min-width: 1024px) {
  .cover {
    min-height: 640px;
  }
}

@media (min-width: 1280px) {
  .cover {
    width: 92.5%;
    min-height: 740px;
  }
}

