.place {
  display: grid;
  grid-template: minmax(35px, min-content) minmax(46px, min-content) 320px min-content / 1fr;
  row-gap: 32px;
}

@media (min-width: 768px) {
  .place {
    grid-template: minmax(46px, min-content) min-content/ 340px 1fr;
    grid-auto-rows: min-content;
    gap: 48px 28px;
  }
}

@media (min-width: 1024px) {
  .place {
    grid-template: minmax(76px, min-content) min-content/ 440px 1fr;
    column-gap: 32px;
  }
}

@media (min-width: 1280px) {
  .place {
    grid-template: minmax(76px, min-content) min-content/ 460px 1fr;
    column-gap: 40px;
  }
}
