.place {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 35px 46px 320px min-content min-content;
  row-gap: 32px;
}

@media (min-width: 768px) {
  .place {
    grid-template-columns: 340px 352px;
    grid-template-rows: minmax(46px, auto) minmax(340px, auto);
  }
}
