.place__website {
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .place__website {
    padding-left: 0;
  }
}



